body{
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;

    background:
    radial-gradient(circle at center, #0f7a30 0%, #0b5e24 70%);

    color: white;
}

h1{
    text-align: center;
    margin-top: 15px;
    font-size: 60px;

    text-shadow: 0 0 20px rgba(255,255,255,0.4);
}

#mesa{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#placar{
    position: absolute;

    top: 20px;
    right: 20px;

    background: rgba(0,0,0,0.4);

    padding: 15px 25px;

    border-radius: 20px;

    font-size: 25px;

    backdrop-filter: blur(5px);

    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#cartas-jogador{
    position: absolute;

    bottom: 40px;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 20px;
}

#cartas-bot{
    position: absolute;

    top: 120px;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 20px;
}

#centro{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.carta{
    width: 120px;
    height: 180px;

    background: linear-gradient(145deg, #ffffff, #e8e8e8);

    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 45px;
    font-weight: bold;

    color: black;

    cursor: pointer;

    transition: 0.25s;

    box-shadow:
    0 10px 20px rgba(0,0,0,0.35),
    inset 0 0 10px rgba(255,255,255,0.6);
}

.carta:hover{
    transform:
    translateY(-20px)
    scale(1.08);

    box-shadow:
    0 20px 30px rgba(0,0,0,0.45);
}

.carta-bot{
    width: 120px;
    height: 180px;

    border-radius: 18px;

    background:
    linear-gradient(
        135deg,
        #1e3a8a,
        #2563eb
    );

    box-shadow:
    0 10px 20px rgba(0,0,0,0.35);

    border: 3px solid rgba(255,255,255,0.3);
}

#btn-truco{
    position: absolute;

    bottom: 260px;
    left: 50%;

    transform: translateX(-50%);

    border: none;

    background: #dc2626;

    color: white;

    padding: 18px 40px;

    border-radius: 15px;

    font-size: 30px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;

    box-shadow:
    0 10px 20px rgba(0,0,0,0.35);
}

#btn-truco:hover{
    transform:
    translateX(-50%)
    scale(1.08);
}